<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.FeedbackMapper">
	<insert id="insertAdvise" parameterType="edu.swjtuhc.demo.model.Advise">
		insert into advise 
		(content,feedback_time)
		values
		(#{content},#{feedback_time})
	</insert>
</mapper>